[Unit]
Description=Unlock gnome-keyring for usage with pamusb
Before=gnome-keyring.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pamusb-keyring-unlock-gnome

[Install]
WantedBy=gnome-keyring.service
RequiredBy=gnome-keyring.service
